<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <main>
        <div id="barraVerde"></div>
        <div id="app">
            <div id="barraUtente">
                <div>
                    <img src="img/avatar_io.jpg" alt="avater_io">
                    <span>Sofia</span>
                </div>
                <div>
                    <i class="bi bi-arrow-clockwise"></i>
                    <i class="bi bi-list"></i>
                    <i class="bi bi-three-dots-vertical"></i>
                </div>
            </div>
            <div id="listaChat">
                <div id="attivaNotifica">
                    <div>
                        <i class="bi bi-bell-slash-fill"></i>
                    </div>
                    <div>
                        <span>Ricevi notifiche di nuovi messaggi</span>
                        <span>Attiva notifiche desktop</span>
                    </div>
                </div>
                <div id="barraRicerca">
                    <label for="ricercaContatto">
                        <i class="bi bi-search"></i>
                        <input type="text" v-model="ricercaContatto" placeholder="Cerca o inizia una nuova chat"
                            name="ricercaContatto">
                    </label>
                </div>
                <div v-if="ricercaContatto === ''">
                    <template v-for="(contact, index) in contacts" :key="contact.name">
                        <div :id="[chatAttiva == index ? 'active' : '']" class="singoloContatto"
                            @click="chatAttiva = index">
                            <img :src="`${contact.avatar}`" :alt="`${contact.name}`" class="divImg">
                            <div>
                                <span class="A">{{contact.name}}</span>
                            </div>
                        </div>
                    </template>
                </div>
                <div v-else>
                    <template v-for="(contact, index) in arrRicerca" :key="contact.name">
                        <div :id="[chatAttiva == index ? 'active' : '']" class="singoloContatto"
                            @click="chatAttiva = index">
                            <img :src="`${contact.avatar}`" :alt="`${contact.name}`" class="divImg">
                            <div>
                                <span>{{contact.name}}</span>
                            </div>
                        </div>
                    </template>
                </div>
            </div>
            <div id="barraDestinatario">
                <div>
                    <img :src="`${contacts[chatAttiva].avatar}`" :alt="`${contacts[chatAttiva].name}`">
                    <div>
                        <span>{{contacts[chatAttiva].name}}</span>
                        <span>Ultimo accesso Orario</span>
                    </div>
                </div>
                <div>
                    <i class="bi bi-search"></i>
                    <i class="bi bi-paperclip"></i>
                    <i class="bi bi-three-dots-vertical"></i>
                </div>
            </div>
            <div id="chatAttuale" v-if="ricercaContatto === ''">
                <template v-for="(mess, index) in contacts[chatAttiva].messages" :key="mess.date">
                    <div
                        :class="['messaggio', mess.status == 'received' ? 'messaggioDestinataio' : 'messaggioMittente']">
                        <div class="messaggioMessaggio">{{mess.message}}</div>
                        <div class="messaggioOra">getTimes</div>
                        <div class="messaggioTendina"
                        @click="dropDownFunction(index)">
                            <i class="bi bi-arrow-down-square-fill"></i>
                        </div>
                        <div v-show="dropDown === true && dropDownIndex === index" class="dropdown-content">
                            <span>Message Info</span>
                            <span @click="cancello(index)">Delate Message</span>
                        </div>
                    
                    </div>
                    
                </template>
            </div>
            <div id="chatAttuale" v-else>
                <template v-for="mess in arrRicerca[chatAttiva].messages" :key="mess.date">
                    <div
                        :class="['messaggio', mess.status == 'received' ? 'messaggioDestinataio' : 'messaggioMittente']">
                        {{mess.message}}</div>
                </template>
            </div>
            <div id="barraMessaggio">
                <i class="bi bi-emoji-laughing"></i>
                <input type="text" placeholder="Scrivi un messaggio" @keyup.enter="addMessage(chatAttiva)"
                    v-model="newMessage">
                <i class="bi bi-mic-fill"></i>
            </div>
        </div>
    </main>

    <script src='https://unpkg.com/vue@3/dist/vue.global.js'></script>
    <script src="https://moment.github.io/luxon/global/luxon.js"></script>
    <script src="main.js"></script>
</body>

</html>