<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <main>
        <div id="barraVerde"></div>
        <div id="app">
            <div id="barraUtente">
                <div>
                    <img src="img/avatar_io.jpg" alt="avater_io">    
                </div>
                <div>
                    <i class="bi bi-arrow-clockwise"></i>
                    <i class="bi bi-list"></i>
                    <i class="bi bi-three-dots-vertical"></i>
                </div>
            </div>
            <div id="listaChat">
                <div id="attivaNotifica">
                    <div>
                        <i class="bi bi-bell-slash-fill"></i>
                    </div>
                    <div>
                        <span>Ricevi notifiche di nuovi messaggi</span>
                        <span>Attiva notifiche desktop</span>
                    </div>
                </div>
                <div id="barraRirerca"></div>
                <div>
                    <template
                    v-for="(contact, index) in contacts"
                    :key="contact.name">
                        <div :id="[chatAttiva == index ? 'active' : '']" class="singoloContatto" @click="chatAttiva = index">
                            <img :src="`${contact.avatar}`" :alt="`${contact.name}`" class="divImg">
                            <div>
                                {{contact.name}}
                            </div> 
                        </div>
                    </template>    
                </div>
            </div>
            <div id="barraDestinatario"></div>
            <div id="chatAttuale">
                <template
                v-for="mess in contacts[chatAttiva].messages"
                :key="mess.date">
                    <div :class="['messaggio', mess.status == 'received' ? 'messaggioDestinataio' : 'messaggioMittente']">{{mess.message}}</div>    
                </template>
            </div>
            <div id="barraMessaggio">
                <i class="bi bi-emoji-laughing"></i>
                <input type="text"
                        placeholder="Scrivi un messaggio"
                        @keyup.enter="addMessage()"
                        v-model="newMessage">
                <i class="bi bi-mic-fill"></i>
            </div>
        </div>    
    </main>
    
    <script src='https://unpkg.com/vue@3/dist/vue.global.js'></script>
    <script src="main.js"></script>
</body>
</html>